{% from "bootstrap5/form.html" import render_form %}
{% include "header.html" %}
<!-- Main -->
	<div id="main">
		<!-- Two -->
		<ul class="actions">
			<li><a href="{{ url_for('index') }}" class="button">Voltar</a></li>
		</ul>
		<section id="two">
			{% if is_edit: %}
			<h2>Editar Projeto</h2>
			{% else: %}
			<h2>Novo Projeto</h2>
			{% endif %}
			<div class="row">
				{{ ckeditor.load() }} {{ ckeditor.config(name='body') }}
				{{ render_form(form, novalidate=True, button_map={"submit": "primary"}) }}
			</div>
		</section>
	</div>
{% include "footer.html" %}