{% from "bootstrap5/form.html" import render_form %}
{% include "header.html" %}

		<!-- Main -->
			<div id="main">

				<!-- One -->
					<section id="one">
						<header class="major">
							<h2>Quem sou eu?</h2>
						</header>
						<p>Accumsan orci faucibus id eu lorem semper. Eu ac iaculis ac nunc nisi lorem vulputate lorem
							neque cubilia ac in adipiscing in curae lobortis tortor primis integer massa adipiscing id
							nisi accumsan pellentesque commodo blandit enim arcu non at amet id arcu magna. Accumsan
							orci faucibus id eu lorem semper nunc nisi lorem vulputate lorem neque cubilia.</p>

						<ul class="actions">
							<li><a href="{{ url_for('about_me')}}" class="button">Minha História</a></li>
						</ul>
					</section>

				<!-- Two -->
					<section id="two">
						<h2>Trabalhos Recentes</h2>
						<div class="row">
							{% for project in all_projects %}
							<article class="col-6 col-12-xsmall work-item">
								<a href="{{ url_for('project', project_id=project.id) }}" class="image fit thumb"><img src="{{ project.img_url }}" /></a>
								<a href="{{ url_for('project', project_id=project.id) }}"><h3>{{ project.title }}</h3></a>
								<p>{{ project.subtitle }}</p>
							</article>
							{% endfor %}
						</div>
						<ul class="actions">
							<li><a href="{{ url_for('portfolio') }}" class="button">Portifólio Completo</a></li>
						</ul>
					</section>

				<!-- Three -->
					<section id="three">
						<h2>Contato</h2>
						<p>Entre em contato via e-mail:</p>
						<div class="row">
							<div class="col-8 col-12-small">
								<form method="POST" action="{{ url_for('send_message') }}">
									<div class="row gtr-uniform gtr-50">
										<div class="col-6 col-12-xsmall"><input type="text" name="name" id="name" placeholder="Name" /></div>
										<div class="col-6 col-12-xsmall"><input type="email" name="email" id="email" placeholder="Email" /></div>
										<div class="col-12"><textarea name="message" id="message" placeholder="Message" rows="4"></textarea></div>
									</div>
								<ul class="actions" style="padding:10px 0px 0px 0px">
									<li><input type="submit" value="Enviar" /></li>
								</ul>
								</form>
							</div>
							<div class="col-4 col-12-small">
								<ul class="labeled-icons">
									<li>
										<h3 class="icon solid fa-mobile-alt"><span class="label">Telefone</span></h3>
										+55 (19) 9 9963-2549
									</li>
									<li>
										<h3 class="icon solid fa-envelope"><span class="label">Email</span></h3>
										<a href="#">william.ccgo@gmail.com</a>
									</li>
								</ul>
							</div>
						</div>
					</section>
			</div>
{% include "footer.html" %}